
.btn-outline-maroon {
  color: #4f4949;
  border-color: #4f4949;
}
.btn-outline-maroon:hover {
  color: #fff;
  background-color: #4f4949;
  border-color: #4f4949;
}
.card-title > a {
  text-decoration: none;
  color: #6e6767;
}
.card-title > a:hover {
  text-decoration: none;
  color: black;
}